/* Global */

body{
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'ZCOOL XiaoWei', sans-serif;
}

.light-text{
  color: #fff;
}

.dark-color{
  background-color: #e4bad4;
}

.light-color{
  background-color: #f8eded;
}

.container-fluid{
  padding: 8% 15% 8% 15%;
}

/* Title */

#title{
  text-align: left;
}

.main-title{
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 10% 0;
}

#title .container-fluid{
  padding: 3% 10% 3% 10%;
}

.logo-local{
  font-family: 'ZCOOL KuaiLe', sans-serif;
  font-size: 2rem;
}

.nav-link{
  font-size: 1.1rem;
}

.title-image{
  height: 500px;
  position: absolute;
  transform: rotate(20deg);
  z-index: 1;
}

@media (max-width: 1028px) {
  .title-local{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}


.btn-local{
  margin: 3% 1% 3% 1%;
}


/* Features */

#features-local{
  position: relative;
  z-index: 2;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.icon{
  color: #e4bad4;
  padding: 0 0 10%
}

.icon:hover{
  color: #caf7e3;
}

.feature-box{
  padding: 0 5%;
}

/* Reviews */

.caro-title{
  font-size: 3rem;
  font-weight: 600;
}

.pebbles{
  border: solid;
  border-color: #fff;
  border-width: 4px;
  border-radius: 100%;
  margin: 20px;
  width:150px;
}

.testimonial-image{
  border: solid;
  border-color: #fff;
  border-width: 4px;
  border-radius: 100%;
  margin: 20px;
  width:150px;
}

.mark{
  border-radius: 100%;
  margin: 20px;
  width:150px;
}

.beavis{
  border: solid;
  border-color: #fff;
  border-radius: 100%;
  border-width: 4px;
  margin: 20px;
  width:150px;
}

/* Press */

.press-logo{
  width: 150px
}


/* Pricing */

.pricing-title{
  font-size: 3rem;
  font-weight: 600;
}

.card-local{
  background-color: #f8eded;
}

.card-box-local{
  padding: 4% 3%
}

/* Call to action */

.cta-title{
  font-size: 3rem;
  font-weight: 600;
}

/* Footer */

.footer-btn{
  padding: 0 1% 0 1%;
}
